src/__pycache__/
src/outputs/
src/GroundingDINO/groundingdino/__pycache__/
src/GroundingDINO/groundingdino/datasets/__pycache__/
src/GroundingDINO/groundingdino/models/GroundingDINO/__pycache__/
src/GroundingDINO/groundingdino/models/GroundingDINO/backbone/__pycache__/
src/GroundingDINO/groundingdino/models/__pycache__/
src/GroundingDINO/groundingdino/util/__pycache__/
test_images/
src/src
pretrained/
outputs/
old code/
__pycache__/
.vscode/